*{
    margin: 0; padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    background-image: url("../IMG/8502760.jpg");
    background-attachment: fixed;
    background-size: cover;
}

main{
    display: inline-flex;
    align-items: center;
    margin-bottom: 40px;
}

p{
    font-weight: bolder;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    display: grid;

}

h1{
    text-align: left;
    padding-left: 20px;
}

header{
    background-color: #131D29;
    color: white;
}

footer .copyright{
    background-color: #131D29;
    color: white;
}

li{
    display: inline;
}

.menu a:hover{
    text-transform: uppercase;
    color: #84AF99;
    transition: all 0.9s;
}

.menu a{
    padding: 10px; 
    /*text-transform: uppercase;*/
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    align-items: center; 
    color: white;
}

h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    padding: 15px;
    margin: 0 10px;
}

h4{
    text-align: center;
}

button{
    padding: 8px;
    cursor: pointer;
    font-size: 17px;
    border: 1px outset black;
    border-radius: 5px;
    text-transform: uppercase;
}

input{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    border-radius: 5px;
    border: 1px outset;
    padding: 10px;
}

strong{
    padding: 5px;
}

.textarea_box{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    border-radius: 5px;
    border: 1px outset;
    padding: 10px;
    height: 161px;
    width: 470px;
}

.imagem_index{
    width: 700px;
    border-radius: 25px;
    align-items: center;
    display: flex;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
}


.empresa img{
    width: 72%;
    border-radius: 25px;
    align-items: center;
    display: flex;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
}

button.enviar{
    background-color: #4caf50;
}

button.deletar{
    background-color: #f92222;
}

.menu{
     justify-content: space-around;
     display: flex;
     align-items: center;
}

.center{
    text-align: center;
    padding: 2%;
}

.box{
    background-image: linear-gradient( rgba(132,175,153), #F1F0DE);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
}

.box_produto{
    background-image: linear-gradient( rgba(132,175,153), #F1F0DE);
    border-radius: 10px;
    padding: 15px;
    width: 550px;
    margin: 0 auto 20px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
    display: flex;
}


.box_servicos{
    background-image: linear-gradient( rgba(132,175,153), #F1F0DE);
    border-radius: 10px;
    padding: 15px;
    margin: 0 auto 20px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
    width: min-content;
}

.box_servicos img{
    width: 450px;
    border-radius: 10px;
    margin: 0 0 5px;
}

.box_servicos h2{
    padding: 5px;
}

.box_servicos h4{
    padding-top: 5px;
    padding-bottom: 15px;
}

.box_text{
    background-image: linear-gradient( rgba(132,175,153), #F1F0DE);
    border-radius: 10px;
    font-size: 23px;
    padding: 25px;
    width: 80%;
    margin: 0 auto 20px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
    display: flex;
}

.box_title{
    background-image: linear-gradient( rgba(132,175,153), #F1F0DE);
    /*background-image: url(../IMG/back.jpg);
    background-attachment: fixed;
    background-size:auto;*/
    border-radius: 15px 50px;
    margin: 0 auto 20px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
    display: table;
}

.box_produto p{
    font-size: 20px;
    padding: 20px;
    align-items: center;
}

.box_produto img{
    width: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
}

.box_mapa_do_site{
    background-image: linear-gradient( rgba(132,175,153), #F1F0DE);
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
}

.box_mapa_do_site a{
    text-decoration: none;
    display: grid;
    text-align: center;
    color: #131D29;
}

.box_mapa_do_site a:hover{
    color: #000;
    text-transform: uppercase;
    transition: text 0.3s;
}

.box_mapa_do_site h2{
    padding: 5px;
    margin: 10px 0 0 0;
}

.logo_img{
    width: 190px;
    margin: 0 0 0 30px;
}

.redes_sociais{
    text-align: center;
    font-size: 40px;
    padding: 15px;
}

.redes_sociais a{
    color: #F1F0DE;
}

.redes_sociais a:hover{
    color: #84AF99;
    transition: all 0.3s;
}

.copyright p{
    font-size: 17px;
}

button.deletar:hover{
    background-color: #da0404;
    color: wheat;
    transition: all 0.3s;
}

button.enviar:hover{
    background-color: #00af06;
    color: wheat;
    transition: all 0.3s;
}

button.saiba_mais{
    border-radius: 70px;
    border-bottom-width: thick;
    /*border-color: #315561;*/
    background-color: #355965;
    color: white;
}

button.saiba_mais:hover{
    border-color: #315561;
    color: black;


}

/* --------INDEX 2 COLUNAS --------- */

.box_text_index{
    background-image: linear-gradient( rgba(132,175,153), #F1F0DE);
    border-radius: 10px;
    padding: 25px;
    margin: 0 58px 0 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
}

.box_mapa_do_site_index{
    background-image: linear-gradient( rgba(132,175,153), #F1F0DE);
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 0 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
}

.box_mapa_do_site_index a{
    text-decoration: none;
    display: grid;
    text-align: center;
    color: #131D29;
    margin: 0 0 5px 0;
}

.box_mapa_do_site_index a:hover{
    color: #000;
    text-transform: uppercase;
    transition: text 0.3s;
}

.box_mapa_do_site_index h2{
    padding: 5px;
    margin: 10px 0 0 0;
}

img.mapa_gif{
    width: 100%;
    border-radius: 10px;
    display: grid;
    align-items: center;
    position: static;
}

video{
    border-radius: 20px;
    width: 250px;
    margin: 0 40px 0 0;
}

.column {
    float: left;
  }
  
.left, .right {
    width: 25%;
  }
  
.middle {
    width: 50%;
  }